@import 'variables.scss';

.sideNavBarContainer{
    background-color: $darkBlue;
    width: 300px;
    height: 100vh;
    position: relative;
    color: $white;

    transition: 0.4s;

    

    .navUpper,
    .navHeading,
    .navMenu,
    .menuItem,
    .navFooter{
        display: grid;
        .navHeading {
            grid-template-columns: 2fr, 1fr;
            grid-template-rows: 1fr;
            height: 75px;

            .navBrand{
                display: flex;

                img{
                    width: 40px;
                    padding: 0 10px;
                }
            }

            .hamburgerMenu{
                position:absolute;
                right: 0;

                background: none;
                border:none;
                cursor: pointer;

                margin: auto -35px;
                background-color: $black;
                border: 2px solid $white;
                padding: 20px;
                border-radius: 90px;
                height: 71px;
                width: 74px;

                span{
                    display:block;
                    margin-top: 5px;
                    background-color: $white;
                    border-radius: 15px;
                    height: 4px;
                    width: 30px;

                    transition: 0.4s;
                }
            }
            .hamburgerMenu:hover{
                span{
                    margin:auto;
                }
            }
            .hamburgerMenuIn:hover{
                span:nth-child(1){
                   width: 25px;
                   transform: translate(-3px, 8px) rotate(30deg);
                }
            }
             .hamburgerMenuIn:hover{
                span:nth-child(2){
                   display: none;
                }
            }
            .hamburgerMenuIn:hover{
                span:nth-child(3){
                   width: 25px;
                   transform: translate(-3px, -8px) rotate(-30deg);
                }
            }

            .hamburgerMenuOut:hover{
                span:nth-child(1){
                   width: 25px;
                   transform: translate(0px, 8px) rotate(-30deg);
                }
            }
             .hamburgerMenuOut:hover{
                span:nth-child(2){
                   display: none;
                }
            }
            .hamburgerMenuOut:hover{
                span:nth-child(3){
                   width: 25px;
                   transform: translate(0px, -8px) rotate(30deg);
                }
            }

        }
        .navMenu{
            grid-template-rows: repeat(7, 1fr);
            margin-top: 50px;

            .menuItem{
                height: 57px;
                width: 16em;
                display: flex;
                color: $white;
                text-decoration: none;
                text-transform: uppercase;
                margin: auto 20px;
                border-radius: 10px;
                position: relative;

                img {
                    width: 30px;
                    padding: 0 20px;
                }
            }
            .menuItem:hover {
                background-color: $black;
            }
            .menuItemNotExpended{
                margin:auto;
                width: 4.5em;
            }

            //selects all .toolTip elements where the parent is a .menuItem:hover element
            .menuItem:hover > .toolTip{
                display: block;
            }

            .toolTip{
                display: none;
                position: absolute;
                left: 99%;
                bottom: 80%;

                width: auto;
                padding: 4px 8px;
                border-radius: 15px 15px 15px 0;
                white-space: nowrap;
                border: 2px solid $white;
                background-color: $black;
            }
        }
    }
    .navFooter{
        position: absolute;
        bottom: 0;
        width: 100%;
        grid-template-columns: 2fr 1fr;
        //background-color: $black;

        .navDetails{
            display: flex;
            img{
                width: 50%;
                padding: 0 20px;
            }
            .navFooterInfo{
                .navFooterUserName{
                    font-size: 18px;
                    font-weight: 900;
                }
            }
        }
        .logoutIcon{
            width: 30px;
            margin: auto;
            border-radius: 90px;
            padding: 20px;
            margin-left: 5px;
        }
        .logoutIcon:hover{
            background-color: $white;
        }
    }
}
.sideNavBarContainerNotExpanded{
        width:85px;
}