@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.sideNavBarContainer {
  background-color: rgb(5, 5, 44);
  width: 16vw;
  height: 100vh;
  position: relative;
  color: rgb(234, 241, 242);
  transition: 0.4s;
}
.sideNavBarContainer .navUpper,
.sideNavBarContainer .navHeading,
.sideNavBarContainer .navMenu,
.sideNavBarContainer .menuItem,
.sideNavBarContainer .navFooter {
  display: grid;
}
.sideNavBarContainer .navUpper .navHeading,
.sideNavBarContainer .navHeading .navHeading,
.sideNavBarContainer .navMenu .navHeading,
.sideNavBarContainer .menuItem .navHeading,
.sideNavBarContainer .navFooter .navHeading {
  height: 13vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sideNavBarContainer .navUpper .navHeading .brandLogo,
.sideNavBarContainer .navHeading .navHeading .brandLogo,
.sideNavBarContainer .navMenu .navHeading .brandLogo,
.sideNavBarContainer .menuItem .navHeading .brandLogo,
.sideNavBarContainer .navFooter .navHeading .brandLogo {
  color: rgb(234, 241, 242);
  font-size: 2.5vw;
}
.sideNavBarContainer .navUpper .navHeading .navBrand,
.sideNavBarContainer .navHeading .navHeading .navBrand,
.sideNavBarContainer .navMenu .navHeading .navBrand,
.sideNavBarContainer .menuItem .navHeading .navBrand,
.sideNavBarContainer .navFooter .navHeading .navBrand {
  font-family: "Bebas Neue", cursive;
  margin-right: 1vw;
}
.sideNavBarContainer .navUpper .navHeading .hamburgerMenu,
.sideNavBarContainer .navHeading .navHeading .hamburgerMenu,
.sideNavBarContainer .navMenu .navHeading .hamburgerMenu,
.sideNavBarContainer .menuItem .navHeading .hamburgerMenu,
.sideNavBarContainer .navFooter .navHeading .hamburgerMenu {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
  margin: auto -35px;
  margin-top: 18vh;
  background-color: rgb(17, 17, 17);
  border: 2px solid rgb(234, 241, 242);
  padding: 20px;
  border-radius: 90px;
  height: 71px;
  width: 74px;
}
.sideNavBarContainer .navUpper .navHeading .hamburgerMenu span,
.sideNavBarContainer .navHeading .navHeading .hamburgerMenu span,
.sideNavBarContainer .navMenu .navHeading .hamburgerMenu span,
.sideNavBarContainer .menuItem .navHeading .hamburgerMenu span,
.sideNavBarContainer .navFooter .navHeading .hamburgerMenu span {
  display: block;
  margin-top: 5px;
  background-color: rgb(234, 241, 242);
  border-radius: 15px;
  height: 4px;
  width: 30px;
  transition: 0.4s;
}
.sideNavBarContainer .navUpper .navHeading .hamburgerMenu:hover span,
.sideNavBarContainer .navHeading .navHeading .hamburgerMenu:hover span,
.sideNavBarContainer .navMenu .navHeading .hamburgerMenu:hover span,
.sideNavBarContainer .menuItem .navHeading .hamburgerMenu:hover span,
.sideNavBarContainer .navFooter .navHeading .hamburgerMenu:hover span {
  margin: auto;
}
.sideNavBarContainer .navUpper .navHeading .hamburgerMenuIn:hover span:nth-child(1),
.sideNavBarContainer .navHeading .navHeading .hamburgerMenuIn:hover span:nth-child(1),
.sideNavBarContainer .navMenu .navHeading .hamburgerMenuIn:hover span:nth-child(1),
.sideNavBarContainer .menuItem .navHeading .hamburgerMenuIn:hover span:nth-child(1),
.sideNavBarContainer .navFooter .navHeading .hamburgerMenuIn:hover span:nth-child(1) {
  width: 25px;
  transform: translate(-3px, 8px) rotate(30deg);
}
.sideNavBarContainer .navUpper .navHeading .hamburgerMenuIn:hover span:nth-child(2),
.sideNavBarContainer .navHeading .navHeading .hamburgerMenuIn:hover span:nth-child(2),
.sideNavBarContainer .navMenu .navHeading .hamburgerMenuIn:hover span:nth-child(2),
.sideNavBarContainer .menuItem .navHeading .hamburgerMenuIn:hover span:nth-child(2),
.sideNavBarContainer .navFooter .navHeading .hamburgerMenuIn:hover span:nth-child(2) {
  display: none;
}
.sideNavBarContainer .navUpper .navHeading .hamburgerMenuIn:hover span:nth-child(3),
.sideNavBarContainer .navHeading .navHeading .hamburgerMenuIn:hover span:nth-child(3),
.sideNavBarContainer .navMenu .navHeading .hamburgerMenuIn:hover span:nth-child(3),
.sideNavBarContainer .menuItem .navHeading .hamburgerMenuIn:hover span:nth-child(3),
.sideNavBarContainer .navFooter .navHeading .hamburgerMenuIn:hover span:nth-child(3) {
  width: 25px;
  transform: translate(-3px, -8px) rotate(-30deg);
}
.sideNavBarContainer .navUpper .navHeading .hamburgerMenuOut:hover span:nth-child(1),
.sideNavBarContainer .navHeading .navHeading .hamburgerMenuOut:hover span:nth-child(1),
.sideNavBarContainer .navMenu .navHeading .hamburgerMenuOut:hover span:nth-child(1),
.sideNavBarContainer .menuItem .navHeading .hamburgerMenuOut:hover span:nth-child(1),
.sideNavBarContainer .navFooter .navHeading .hamburgerMenuOut:hover span:nth-child(1) {
  width: 25px;
  transform: translate(0px, 8px) rotate(-30deg);
}
.sideNavBarContainer .navUpper .navHeading .hamburgerMenuOut:hover span:nth-child(2),
.sideNavBarContainer .navHeading .navHeading .hamburgerMenuOut:hover span:nth-child(2),
.sideNavBarContainer .navMenu .navHeading .hamburgerMenuOut:hover span:nth-child(2),
.sideNavBarContainer .menuItem .navHeading .hamburgerMenuOut:hover span:nth-child(2),
.sideNavBarContainer .navFooter .navHeading .hamburgerMenuOut:hover span:nth-child(2) {
  display: none;
}
.sideNavBarContainer .navUpper .navHeading .hamburgerMenuOut:hover span:nth-child(3),
.sideNavBarContainer .navHeading .navHeading .hamburgerMenuOut:hover span:nth-child(3),
.sideNavBarContainer .navMenu .navHeading .hamburgerMenuOut:hover span:nth-child(3),
.sideNavBarContainer .menuItem .navHeading .hamburgerMenuOut:hover span:nth-child(3),
.sideNavBarContainer .navFooter .navHeading .hamburgerMenuOut:hover span:nth-child(3) {
  width: 25px;
  transform: translate(0px, -8px) rotate(30deg);
}
.sideNavBarContainer .navUpper .navMenu,
.sideNavBarContainer .navHeading .navMenu,
.sideNavBarContainer .navMenu .navMenu,
.sideNavBarContainer .menuItem .navMenu,
.sideNavBarContainer .navFooter .navMenu {
  grid-template-rows: repeat(7, 1fr);
  margin-top: 10vh;
}
.sideNavBarContainer .navUpper .navMenu .menuItem,
.sideNavBarContainer .navHeading .navMenu .menuItem,
.sideNavBarContainer .navMenu .navMenu .menuItem,
.sideNavBarContainer .menuItem .navMenu .menuItem,
.sideNavBarContainer .navFooter .navMenu .menuItem {
  height: 8vh;
  width: auto;
  display: flex;
  color: rgb(234, 241, 242);
  text-decoration: none;
  text-transform: uppercase;
  margin: auto 1vw;
  border-radius: 10px;
  position: relative;
  align-items: center;
  gap: 1vw;
  font-size: 1.1rem;
  font-family: "Bebas Neue", cursive;
}
.sideNavBarContainer .navUpper .navMenu .menuItem .menuIcon,
.sideNavBarContainer .navHeading .navMenu .menuItem .menuIcon,
.sideNavBarContainer .navMenu .navMenu .menuItem .menuIcon,
.sideNavBarContainer .menuItem .navMenu .menuItem .menuIcon,
.sideNavBarContainer .navFooter .navMenu .menuItem .menuIcon {
  font-size: 2rem;
}
.sideNavBarContainer .navUpper .navMenu .menuItem:hover,
.sideNavBarContainer .navHeading .navMenu .menuItem:hover,
.sideNavBarContainer .navMenu .navMenu .menuItem:hover,
.sideNavBarContainer .menuItem .navMenu .menuItem:hover,
.sideNavBarContainer .navFooter .navMenu .menuItem:hover {
  background-color: rgb(17, 17, 17);
}
.sideNavBarContainer .navUpper .navMenu .menuItemNotExpended,
.sideNavBarContainer .navHeading .navMenu .menuItemNotExpended,
.sideNavBarContainer .navMenu .navMenu .menuItemNotExpended,
.sideNavBarContainer .menuItem .navMenu .menuItemNotExpended,
.sideNavBarContainer .navFooter .navMenu .menuItemNotExpended {
  margin: auto;
  width: 4.5em;
}
.sideNavBarContainer .navUpper .navMenu .menuItem:hover > .toolTip,
.sideNavBarContainer .navHeading .navMenu .menuItem:hover > .toolTip,
.sideNavBarContainer .navMenu .navMenu .menuItem:hover > .toolTip,
.sideNavBarContainer .menuItem .navMenu .menuItem:hover > .toolTip,
.sideNavBarContainer .navFooter .navMenu .menuItem:hover > .toolTip {
  display: block;
}
.sideNavBarContainer .navUpper .navMenu .toolTip,
.sideNavBarContainer .navHeading .navMenu .toolTip,
.sideNavBarContainer .navMenu .navMenu .toolTip,
.sideNavBarContainer .menuItem .navMenu .toolTip,
.sideNavBarContainer .navFooter .navMenu .toolTip {
  display: none;
  position: absolute;
  left: 99%;
  bottom: 80%;
  width: auto;
  padding: 4px 8px;
  border-radius: 15px 15px 15px 0;
  white-space: nowrap;
  border: 2px solid rgb(234, 241, 242);
  background-color: rgb(17, 17, 17);
}
.sideNavBarContainer .navFooter {
  position: absolute;
  bottom: 0vh;
  width: 100%;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}
.sideNavBarContainer .navFooter .navDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sideNavBarContainer .navFooter .navDetails img {
  width: 40%;
  border-radius: 50%;
  margin: 1vw 1vw 1vw;
}
.sideNavBarContainer .navFooter .navDetails .navFooterInfo .navFooterUserName {
  font-size: 1.1rem;
}
.sideNavBarContainer .navFooter .logoutIcon {
  margin: auto;
  font-size: 2rem;
}
.sideNavBarContainer .navFooter .logoutIcon:hover {
  background-color: rgb(234, 241, 242);
}

.sideNavBarContainerNotExpanded {
  width: 5vw;
}/*# sourceMappingURL=sideNavBar.css.map */